@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Orbitron', sans-serif;
  background-image: url('images/background.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.game-board {
  display: grid;
  gap: 12px;
  justify-content: center;
  align-content: center;
}

.card {
  width: 100px;
  height: 70px;
  perspective: 1000px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.4);
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
}

.card-front img,
.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #fff;
  border-radius: 12px;
}

.card-back {
  transform: rotateY(180deg);
}


.card.matched {
  animation: pulse 0.4s ease-in-out;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

.container {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .game-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.4);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    min-width: 200px;
  }

.div-info-restartbtn{
    display: block;
    text-align: center;
}
.restart-button {
  position: relative;
  top: 20px;
  padding: 10px 20px;
  background: white;
  color: #333;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.restart-button:hover {
  background: #ddd;
}

#level-title{
    position: relative;
}

#levels{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn{
  width: 120px;
  position: relative;
  top: 20px;
  padding: 10px 20px;
  margin: 10px;
  background: white;
  color: #333;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.btn:hover{
    background: #ddd;
}